// Colors
$color-primary: #fe7906;
$color-secondary: #fe0390;
$color-background: #fdfdfd;
$color-text: #000000;
$color-muted: #767676;

//Typography
$font-primary: 'Mulish', sans-serif;

// Border
$border-radius: 10px;
$border-width: 0.5px;

// Box shadow
$shadow-card: 2px 2px 8px rgba(0, 0, 0, 0.25);

$shadow-modal: 0 -2px 4px rgba(0, 0, 0, 0.18);
