@use '../base/variables' as *;

footer {
    border-top: 1px solid $color-secondary;
    min-height: 240px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: $color-text;
}

footer h4 {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}

.footer-logo {
    min-height: 150x;
}
